<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Policy Assignment</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
  <!--<script>
    $(document).ready(function(){
      $("#update-area").click(function(){
        $.ajax({
            type: "POST",
            url: "https://fmcrestapisandbox.cisco.com/api/fmc_config/v1/domain/e276abec-e0f2-11e3-8169-6d9ed49b625f/policy/accesspolicies",
            data: JSON.stringify({
                  "type": "AccessPolicy",
                  "name": "AccessPolicysih1",
                  "description": "policy to test FMC implementation",
                  "defaultAction": {
                    "intrusionPolicy": {
                      "id": "d224e29c-6c27-11e0-ac9d-988fc3da9be6",
                      "type": "IntrusionPolicy"
                    },
                    "type": "AccessPolicyDefaultAction",
                    "logBegin": "false",
                    "logEnd": "false",
                    "sendEventsToFMC": "false",
                    "action": "BLOCK"
                  }
                }
                ),
            success : function() {
             alert("success")
           },
           error : function() {
            alert("error");
           }
          });
      });
    });
    </script>-->

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">My Classroom</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">No new notifications</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tasks') }}">
          <i class="fas fa-fw fa-folder"></i>
          <span>Tasks</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('class_stats') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Class Stats</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('policy_assign') }}">
          <i class="fas fa-fw fa-table"></i>
          <span>Policy Assignment</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Student Information</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Policy Assignment</div>
          <div  class="card-body">
              <h2>Current active policy as of:</h2>
              <p id="date"></p>
              <script>
                var d = new Date();
                document.getElementById("date").innerHTML = d;
              </script>
              <h3 id="active-policy">{{ currentPolicy }}</h3>
              <hr>
              <p></p>
                  <form class="form" method="POST" action="{{ url_for('policy_assign') }}">
                      <div class="form-group">
                          <p><b>Change Policy: </b><p>
                                <select name="change_policy" class="selectpicker form-control">
                                  <option value="Exam Policy">Exam Policy</option>
                                  <option value="Strict Policy">Strict Policy</option>
                                  <option value="Unrestricted Policy">Unrestricted Policy</option>
                                </select>
                          <br>
                        <button type="submit" class="btn btn-success text-white">Submit</button>
                      </div>
                    </form>
              <div id="update-area"></div>
            <p id="demo"></p>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
          
        <div class="card mb-3">
          <div class="card-header">
            Edit Policy</div>
          <div class="card-body">
            <p><b> Choose Policy to Edit: </b></p>
            <select id="box1">
                <option value="Exam Policy">Exam Policy</option>
                <option value="Strict Policy">Strict Policy</option>
                <option value="Unrestricted Policy">Unrestricted Policy</option>
            </select>
            <p></p>
            <p><b> Choose the categories to be blocked by this policy:</b></p>
              <div class="form-check">
                  <ul> 
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Entertainment
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Gambling
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Social Media
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            News
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Streaming Services
                          </label>
                    </li>
                    <li>
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Movies
                          </label>
                    </li>
                  </ul>
            </div>
              <a href="#"><button id="update" type="button" class="btn btn-warning text-white"><b>Update Policy</b></button></a>
          </div>
          
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © JavaTheHutt </span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="../static/js/demo/datatables-demo.js"></script>

</body>

</html>
